<!doctype html>
<html lang="ko">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">

        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>


        <!-- 구글폰트 -->
        <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">


        <title>DG Project</title>

        <!-- style -->
        <style>
            .main {
                color: white;
                width: 1940px;
                height: 500px;
                background-image: url('https://images.squarespace-cdn.com/content/v1/51885cbae4b0d20f07f43aac/1590395665199-TG6VDQNXTDJB4QWRI8PY/ke17ZwdGBToddI8pDm48kDsWfxLXkesUnclyzlMKCYQUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYy7Mythp_T-mtop-vrsUOmeInPi9iDjx9w8K4ZfjXt2dqcTPwbvqGvqhxbXI4aFngeCFAGB8bqneNhYz8sltNonpC969RuPXvt2ZwyzUXQf7Q/Incheon+International+Airport+01.jpg?format=1500w');
                background-position: center;
                background-size: cover;
            }

            .wrap {
                margin-top: 50px;
            }

            .center {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <!--상단 동영상 영역-->
        <div class="card mb-3">
            <img src="https://images.squarespace-cdn.com/content/v1/51885cbae4b0d20f07f43aac/1590395665199-TG6VDQNXTDJB4QWRI8PY/ke17ZwdGBToddI8pDm48kDsWfxLXkesUnclyzlMKCYQUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYy7Mythp_T-mtop-vrsUOmeInPi9iDjx9w8K4ZfjXt2dqcTPwbvqGvqhxbXI4aFngeCFAGB8bqneNhYz8sltNonpC969RuPXvt2ZwyzUXQf7Q/Incheon+International+Airport+01.jpg?format=1500w"
                 class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>
        <!--메뉴 선택 카드-->
        <div class="wrap">
            <div class="card-deck">
                <div class="card">
                    <img src="https://www.befreetour.com/img/produk/kal-limousine-bus-seoul/kal-limousine-bus-seoul_094fb1ef66670ae439615fb4b867a12c3c9876ac.png"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">공항버스 타러가기</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="https://media.cntraveler.com/photos/5a60b9352f090155d7b0b1ca/16:9/w_2560%2Cc_limit/seoul-airport-new-terminal-AP_416162173317.jpg"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">출국장 현황보기</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional
                            content.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="https://cdn57.androidauthority.net/wp-content/uploads/2020/04/YoWindow-Weather-best-weather-apps-and-weather-widgets-1200x675.jpg"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">도착지 날씨보기</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This card has even longer content than the first to show that equal
                            height
                            action.</p>
                    </div>
                </div>
            </div>
        </div>
        <!--출국장 정보 api Data-->
        <div class="wrap">
            <p align="center"><img src="https://www.airport.kr/static/ap/images/img_fast_track_t1_01.png"></p>
        </div>
        <div class="wrap center"
        <div class="orders">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">터미널</th>
                    <th scope="col">Gate</th>
                    <th scope="col">대기인원</th>
                    <th scope="col">혼잡도</th>
                </tr>
                </thead>
                <tbody id="orders-box">
                <tr>
                    <td>1 터미널</td>
                    <td>A</td>
                    <td>11명</td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75"
                                 aria-valuemin="0" aria-valuemax="100">75%
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>1 터미널</td>
                    <td>B</td>
                    <td>19명</td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80"
                                 aria-valuemin="0" aria-valuemax="100">80%
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>2 터미널</td>
                    <td>C</td>
                    <td>7명</td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 20%;" aria-valuenow="20"
                                 aria-valuemin="0" aria-valuemax="100">20%
                            </div>
                        </div>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
        </div>
    </body>
</html>